## Telegram
BOT_TOKEN = "5163432981:AAHYeHR_hqmMKMwFMXcvqsFmFPPvvrDzUxo" # ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
OWNER_ID =1947267452
DOWNLOAD_STATUS_UPDATE_INTERVAL = 4
AUTO_DELETE_MESSAGE_DURATION = 20
TELEGRAM_API = 16230290
TELEGRAM_HASH = "5ef867331b5ff6f68643b76d156198e2"
AUTHORIZED_CHATS = "5ef867331b5ff6f68643b76d156198e2" #Separated by space
MAX_CONCURRENT_DOWNLOADS = 5

## Drive
GDRIVE_FOLDER_ID = "1l4lBVz3fcwNGTIIF1zkj5gCHfoMlICa4"
IS_TEAM_DRIVE = "True"
INDEX_URL = "https://blacknoir.nuts.workers.dev/2:/Waifu-2/"
DOWNLOAD_DIR = "/app/downloads" #   Dont change this if you are using Docker compose
USE_SERVICE_ACCOUNTS = "True"

## Optional config
UPTOBOX_TOKEN = ""

MEGA_KEY = "jNpkmaoZ"  # Get this from https://mega.nz/sdk
MEGA_USERNAME = "bandwidth1@hashhackers.com"
MEGA_PASSWORD = "Bhadoo@1"
BLOCK_MEGA_LINKS = ""

STOP_DUPLICATE_MIRROR = ""

SHORTENER = ""
SHORTENER_API = ""

# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""


# Commands Customization (Completely Optional)
# If you want to change
START_COMMAND = ""
MIRROR_COMMAND = ""
UNZIP_COMMAND = ""
TAR_COMMAND = ""
CANCEL_COMMAND = ""
CANCELALL_COMMAND = ""
LIST_COMMAND = ""
SPEED_COMMAND = ""
COUNT_COMMAND = ""
STATUS_COMMAND = ""
AUTH_COMMAND = ""
UNAUTH_COMMAND = ""
PING_COMMAND = ""
RESTART_COMMAND = ""
STATS_COMMAND = ""
HELP_COMMAND = ""
LOG_COMMAND = ""
CLONE_COMMAND = ""
WATCH_COMMAND = ""
TARWATCH_COMMAND = ""
DELETE_COMMAND = ""
